/*
	Variable Grid System (Fluid Version).
	Learn more ~ http://www.spry-soft.com/grids/
	Based on 960 Grid System - http://960.gs/ & 960 Fluid - http://www.designinfluences.com/

	Licensed under GPL and MIT.
*/


/* Containers
----------------------------------------------------------------------------------------------------*/
.container_12 {
	width: 92%;
	margin-left: 4%;
	margin-right: 4%;
}

/* Grid >> Global
----------------------------------------------------------------------------------------------------*/

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
	display:inline;
	float: left;
	position: relative;
	margin-left: 1%;
	margin-right: 1%;
}

/* Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/

.alpha {
	margin-left: 0;
}

.omega {
	margin-right: 0;
}

/* Grid >> 12 Columns
----------------------------------------------------------------------------------------------------*/


.container_12 .grid_1 {
	width:6.333%;
}

.container_12 .grid_2 {
	width:14.667%;
}

.container_12 .grid_3 {
	width:23.0%;
}

.container_12 .grid_4 {
	width:31.333%;
}

.container_12 .grid_5 {
	width:39.667%;
}

.container_12 .grid_6 {
	width:48.0%;
}

.container_12 .grid_7 {
	width:56.333%;
}

.container_12 .grid_8 {
	width:64.667%;
}

.container_12 .grid_9 {
	width:73.0%;
}

.container_12 .grid_10 {
	width:81.333%;
}

.container_12 .grid_11 {
	width:89.667%;
}

.container_12 .grid_12 {
	width:98.0%;
}



/* Prefix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/


.container_12 .prefix_1 {
	padding-left:8.333%;
}

.container_12 .prefix_2 {
	padding-left:16.667%;
}

.container_12 .prefix_3 {
	padding-left:25.0%;
}

.container_12 .prefix_4 {
	padding-left:33.333%;
}

.container_12 .prefix_5 {
	padding-left:41.667%;
}

.container_12 .prefix_6 {
	padding-left:50.0%;
}

.container_12 .prefix_7 {
	padding-left:58.333%;
}

.container_12 .prefix_8 {
	padding-left:66.667%;
}

.container_12 .prefix_9 {
	padding-left:75.0%;
}

.container_12 .prefix_10 {
	padding-left:83.333%;
}

.container_12 .prefix_11 {
	padding-left:91.667%;
}



/* Suffix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/


.container_12 .suffix_1 {
	padding-right:8.333%;
}

.container_12 .suffix_2 {
	padding-right:16.667%;
}

.container_12 .suffix_3 {
	padding-right:25.0%;
}

.container_12 .suffix_4 {
	padding-right:33.333%;
}

.container_12 .suffix_5 {
	padding-right:41.667%;
}

.container_12 .suffix_6 {
	padding-right:50.0%;
}

.container_12 .suffix_7 {
	padding-right:58.333%;
}

.container_12 .suffix_8 {
	padding-right:66.667%;
}

.container_12 .suffix_9 {
	padding-right:75.0%;
}

.container_12 .suffix_10 {
	padding-right:83.333%;
}

.container_12 .suffix_11 {
	padding-right:91.667%;
}



/* Push Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/


.container_12 .push_1 {
	left:8.333%;
}

.container_12 .push_2 {
	left:16.667%;
}

.container_12 .push_3 {
	left:25.0%;
}

.container_12 .push_4 {
	left:33.333%;
}

.container_12 .push_5 {
	left:41.667%;
}

.container_12 .push_6 {
	left:50.0%;
}

.container_12 .push_7 {
	left:58.333%;
}

.container_12 .push_8 {
	left:66.667%;
}

.container_12 .push_9 {
	left:75.0%;
}

.container_12 .push_10 {
	left:83.333%;
}

.container_12 .push_11 {
	left:91.667%;
}



/* Pull Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/


.container_12 .pull_1 {
	left:-8.333%;
}

.container_12 .pull_2 {
	left:-16.667%;
}

.container_12 .pull_3 {
	left:-25.0%;
}

.container_12 .pull_4 {
	left:-33.333%;
}

.container_12 .pull_5 {
	left:-41.667%;
}

.container_12 .pull_6 {
	left:-50.0%;
}

.container_12 .pull_7 {
	left:-58.333%;
}

.container_12 .pull_8 {
	left:-66.667%;
}

.container_12 .pull_9 {
	left:-75.0%;
}

.container_12 .pull_10 {
	left:-83.333%;
}

.container_12 .pull_11 {
	left:-91.667%;
}




/*
	Variable Grid System (Fluid Version).
	Learn more ~ http://www.spry-soft.com/grids/
	Based on 960 Grid System - http://960.gs/ & 960 Fluid - http://www.designinfluences.com/

	Licensed under GPL and MIT.
*/


/* Containers
----------------------------------------------------------------------------------------------------*/
.container_16 {
	width: 92%;
	margin-left: 4%;
	margin-right: 4%;
}

/* Grid >> Global
----------------------------------------------------------------------------------------------------*/

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12,
.grid_13,
.grid_14,
.grid_15,
.grid_16 {
	display:inline;
	float: left;
	position: relative;
	margin-left: 1%;
	margin-right: 1%;
}

/* Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/

.alpha {
	margin-left: 0;
}

.omega {
	margin-right: 0;
}

/* Grid >> 16 Columns
----------------------------------------------------------------------------------------------------*/


.container_16 .grid_1 {
	width:4.25%;
}

.container_16 .grid_2 {
	width:10.5%;
}

.container_16 .grid_3 {
	width:16.75%;
}

.container_16 .grid_4 {
	width:23.0%;
}

.container_16 .grid_5 {
	width:29.25%;
}

.container_16 .grid_6 {
	width:35.5%;
}

.container_16 .grid_7 {
	width:41.75%;
}

.container_16 .grid_8 {
	width:48.0%;
}

.container_16 .grid_9 {
	width:54.25%;
}

.container_16 .grid_10 {
	width:60.5%;
}

.container_16 .grid_11 {
	width:66.75%;
}

.container_16 .grid_12 {
	width:73.0%;
}

.container_16 .grid_13 {
	width:79.25%;
}

.container_16 .grid_14 {
	width:85.5%;
}

.container_16 .grid_15 {
	width:91.75%;
}

.container_16 .grid_16 {
	width:98.0%;
}



/* Prefix Extra Space >> 16 Columns
----------------------------------------------------------------------------------------------------*/


.container_16 .prefix_1 {
	padding-left:6.25%;
}

.container_16 .prefix_2 {
	padding-left:12.5%;
}

.container_16 .prefix_3 {
	padding-left:18.75%;
}

.container_16 .prefix_4 {
	padding-left:25.0%;
}

.container_16 .prefix_5 {
	padding-left:31.25%;
}

.container_16 .prefix_6 {
	padding-left:37.5%;
}

.container_16 .prefix_7 {
	padding-left:43.75%;
}

.container_16 .prefix_8 {
	padding-left:50.0%;
}

.container_16 .prefix_9 {
	padding-left:56.25%;
}

.container_16 .prefix_10 {
	padding-left:62.5%;
}

.container_16 .prefix_11 {
	padding-left:68.75%;
}

.container_16 .prefix_12 {
	padding-left:75.0%;
}

.container_16 .prefix_13 {
	padding-left:81.25%;
}

.container_16 .prefix_14 {
	padding-left:87.5%;
}

.container_16 .prefix_15 {
	padding-left:93.75%;
}



/* Suffix Extra Space >> 16 Columns
----------------------------------------------------------------------------------------------------*/


.container_16 .suffix_1 {
	padding-right:6.25%;
}

.container_16 .suffix_2 {
	padding-right:12.5%;
}

.container_16 .suffix_3 {
	padding-right:18.75%;
}

.container_16 .suffix_4 {
	padding-right:25.0%;
}

.container_16 .suffix_5 {
	padding-right:31.25%;
}

.container_16 .suffix_6 {
	padding-right:37.5%;
}

.container_16 .suffix_7 {
	padding-right:43.75%;
}

.container_16 .suffix_8 {
	padding-right:50.0%;
}

.container_16 .suffix_9 {
	padding-right:56.25%;
}

.container_16 .suffix_10 {
	padding-right:62.5%;
}

.container_16 .suffix_11 {
	padding-right:68.75%;
}

.container_16 .suffix_12 {
	padding-right:75.0%;
}

.container_16 .suffix_13 {
	padding-right:81.25%;
}

.container_16 .suffix_14 {
	padding-right:87.5%;
}

.container_16 .suffix_15 {
	padding-right:93.75%;
}



/* Push Space >> 16 Columns
----------------------------------------------------------------------------------------------------*/


.container_16 .push_1 {
	left:6.25%;
}

.container_16 .push_2 {
	left:12.5%;
}

.container_16 .push_3 {
	left:18.75%;
}

.container_16 .push_4 {
	left:25.0%;
}

.container_16 .push_5 {
	left:31.25%;
}

.container_16 .push_6 {
	left:37.5%;
}

.container_16 .push_7 {
	left:43.75%;
}

.container_16 .push_8 {
	left:50.0%;
}

.container_16 .push_9 {
	left:56.25%;
}

.container_16 .push_10 {
	left:62.5%;
}

.container_16 .push_11 {
	left:68.75%;
}

.container_16 .push_12 {
	left:75.0%;
}

.container_16 .push_13 {
	left:81.25%;
}

.container_16 .push_14 {
	left:87.5%;
}

.container_16 .push_15 {
	left:93.75%;
}



/* Pull Space >> 16 Columns
----------------------------------------------------------------------------------------------------*/


.container_16 .pull_1 {
	left:-6.25%;
}

.container_16 .pull_2 {
	left:-12.5%;
}

.container_16 .pull_3 {
	left:-18.75%;
}

.container_16 .pull_4 {
	left:-25.0%;
}

.container_16 .pull_5 {
	left:-31.25%;
}

.container_16 .pull_6 {
	left:-37.5%;
}

.container_16 .pull_7 {
	left:-43.75%;
}

.container_16 .pull_8 {
	left:-50.0%;
}

.container_16 .pull_9 {
	left:-56.25%;
}

.container_16 .pull_10 {
	left:-62.5%;
}

.container_16 .pull_11 {
	left:-68.75%;
}

.container_16 .pull_12 {
	left:-75.0%;
}

.container_16 .pull_13 {
	left:-81.25%;
}

.container_16 .pull_14 {
	left:-87.5%;
}

.container_16 .pull_15 {
	left:-93.75%;
}




/* Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

/* http://perishablepress.com/press/2008/02/05/lessons-learned-concerning-the-clearfix-css-hack */

.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}


/* Custom css by veejaR
------------------------------------------------------------*/
.actions{
	float:right;
	margin-top:20px;
}
.actions_menu a:link, .actions_menu a:visited, .actions_menu a:hover, .actions_menu a:active {
	display: block;
	padding: 0 0 0 18px;
	font-weight: bold;
	font-size: 11px;
	
	background-repeat: no-repeat;
	background-position: left center;
}

.actions_menu {
	overflow: hidden;
	
}

.actions_menu ul {
	margin: 0;
	padding: 0;
	float: left;
	width: 200px;
}


.actions_menu li {
	margin: 0;
	padding: 0 10px 0 0;
	list-style: none;
	float: left;
}

.edit {
	background-image:url(../images/edit_action.gif);
}

.delete {
	background-image:url(../images/action4.gif);
}

.table_menu {
	width: 100%;
	overflow: hidden;
	padding: 5px 0 0;
	margin: 0 0 -3px;
	position: relative;
	top: 0;
	left: 0;
	z-index: 1;
}

.table_menu ul {
	margin: 0;
	padding: 0;
}

.table_menu .left {
	float: left;
	
}

.table_menu .right {
	float: right;
	
}

.table_menu li {
	float: left;
	margin: 0;
	padding: 0 6px 0 0;
	list-style: none;
}
.paging{
	margin-top:10px;
	margin-bottom:10px;
}